.gradle/
/build/
/app/build/
captures/
.externalNativeBuild/
.cxx/
local.properties

/app/google-services.json
*.jks
*.keystore

.idea/
*.iml
.DS_Store
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

*.log